@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-ExtraLight.ttf');
    font-weight: 200;
}
@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.ttf');
    font-weight: regular;
}
@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Bold.ttf');
    font-weight: bold;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #343a33;
    background-image: radial-gradient(
        50% 50% at 50% 50%,
        #d5d4d4 0%,
        rgba(255, 255, 255, 0) 100%
    );
    font-family: 'Montserrat', sans-serif;
}
header {
    top: 0;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
header,
footer {
    position: fixed;
    left: 0;
    width: 100%;
}
footer {
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box {
    padding: 50px 80px;
    border: 1px solid #343a33;
    border-radius: 5px;
    font-size: 20px;
    line-height: 26px;
}
.word-first {
    font-weight: 200;
}
.word-second {
    font-weight: normal;
}
.word-third {
    font-weight: bold;
}
.socials {
    display: flex;
    padding: 0;
    list-style: none;
    margin: 60px auto 0;
    justify-content: center;
}
.social {
    width: 40px;
    height: 40px;
    margin: 0 22.5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px 40px;
    transition: all 200ms ease;
    cursor: pointer;
    position: relative;
}
.social a {
    font-size: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.social-twitter {
    background-image: url('./img/socials/twitter.svg');
}
.social-linkedin {
    background-image: url('./img/socials/linkedin.svg');
}
.social-mail {
    background-image: url('./img/socials/mail.svg');
}
.social-facebook {
    background-image: url('./img/socials/facebook.svg');
}
.social:hover {
    opacity: 0.6;
}

.date {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
}
.soon {
    margin: 10px 0 30px;
    font-weight: 200;
}
